@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
  font-family: Noto Sans KR;
}

.swiper {
  width: 80%;
  height: 30%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.table-bordered th {
  text-align: center;
  border-top: 1px solid #666666 !important;
  border: 1px solid #e3e6f0;
  background-color: rgb(243 244 246 / 1);
  height: 50px;
}

.table-bordered td {
  border: 1px solid #e3e6f0;
  height: 50px;
}

.table-bordered th:first-child {
  border-left-style: none;
}

.table-bordered th:last-child {
  border-right-style: none;
}

.table-bordered td:first-child {
  border-left-style: none;
}

.table-bordered td:last-child {
  border-right-style: none;
}
